html, body{
font-family: 'spartan';
margin: 0;
}

.container {
    max-width: 800px;
    margin: 0px auto;
  }


.header{
    background-color: olivedrab;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-family: 'spartan';
}
.header h1 {
    margin: 0;
    color: white;
    
}


.button{
    text-align: center;
    padding: 15px 25px;
    
}
.button a{
    text-decoration: none;
    color: white;
    background-color: olivedrab;
    padding: 15px 25px;
    border-radius: 5px; 
    display: inline-block; 
    
}
a.class1 {color:olivedrab;}
a.class1:link  {text-decoration: none; color: olivedrab;}
a.class1:visited {text-decoration: none; color: olivedrab;}
a.class1:hover {text-decoration: underline; color: olivedrab;}
a.class1:active {text-decoration: none; color: olivedrab;}

.indentedheader{
    margin: 50px;
    font-family: 'spartan';
}
.indentedheader h1 {
    font-weight: 600;
    

}


.footerborder{
    background-color:  lightgrey;
    height: 100px;
    padding: 15px 25px;
    margin-bottom: 0px;
    text-align: center;
    font-family: "spartan";
    color: black;
}
